Add answers: <%= select("answer", :answer_id, @answers.collect { |ans| ans.text}) %>

<%= content_tag :button, :class => :add_answer_button do %>
  Add this question
<% end %>
<div class="answers_added">
	
</div>

