<!DOCTYPE html>

<html>
	<body>
		<h1> Welcome to GTRep, <%= @user.username %> </h1>

		Please click on this link to validate your account
							
			<%= link_to("Click here to activate your account", @url, :method => :put) %>
			
		I hope you enjoy GTRep!
	</body>
</html>