<% unless @question_group_questions.nil? %>
  <% @question_group_questions.each { |f| %>
    <%= f[0].text %>
    <% if f[1].nil? %> 
      <p> <%= text_area_tag("questions[" + f[0].id.to_s + "]", "", :size => "20x2") %> </p>
	<% else %>
	<% f[1].each { |ans| %>
		<p> <%= ans.text %> <%= radio_button_tag("questions[" + ans.questions_id.to_s + "]",ans.id,  ans.questions_id.to_s) %> 
		 <!-- e.g.  <input checked="checked" id="questions_20_7" name="questions[20]" type="radio" value="7"> -->
		 </p>
	  <% } %>
	<% end%>
  <% } %> 
	
<% end %>