<h1>My Submitted Responses</h1>

<%= @responses.empty? ? "You haven't submitted any responses yet, yo." : index_table(@responses,Response) %>

<br />
<br />

<%= link_to 'New Response', new_response_path %>
