body {
  background-color: #fff;
  color: #333;
  font-family: "adelle", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  position:absolute;
  top: 20%;
  left: 3%;
  font-family: "aw-conqueror-carved-two", "verdana";
  font-size: 4em;
  width:300px;
  display: block;
  line-height: .7em;
}

p, ol, ul, td, tr {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align:left;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.centering {
  margin:0px auto;
  width: 50%;
  height: 50%;
  text-align: left;
}

.sections {

}

.nav {
  border-radius: 10px;
  border-color: black;
  border-width: 10px;
}

.errors {
  background-color: red;
  color: white;
  width: inherit;

}

.content {
	opacity: .1;
	margin: 20%;
	margin-top: 10%;
	width: 60%;
	left: 0px;
}
